<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Demo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Demo.CryptoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Demo.My.MySettings>
            <setting name="AesKey" serializeAs="String">
                <value>20C5641526DD0664DDC4FDDDD2AE4388F0B0B51E63C93D90CDC3D9D15C93838B</value>
            </setting>
        </Demo.My.MySettings>
    </applicationSettings>
    <userSettings>
        <Demo.CryptoSettings>
            <setting name="SettingA" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingB" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingC" serializeAs="String">
                <value />
            </setting>
        </Demo.CryptoSettings>
    </userSettings>
</configuration>